.bgPink {
  background: linear-gradient(
    90deg,
    rgba(252, 179, 183, 1) 0%,
    rgba(250, 213, 205, 1) 100%
  );
}

.borderGreen {
  border-color: #aee1dd;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.borderCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 4px solid #aee1dd;
  width: 400px;
}

.cardTitle {
  color: #fcb3b7;
  margin-bottom: 10px;
  text-align: center;
}

.cardDivider {
  margin-top: 12px;
  color: #aee1dd;
}

.cardDivider::before {
  content: "";
  display: inline-block;
  width: 130px;
  height: 2px;
  transform: translate(-10px, -5px);
  background: #aee1dd;
}

.cardDivider::after {
  content: "";
  display: inline-block;
  width: 130px;
  height: 2px;
  transform: translate(10px, -5px);
  background: #aee1dd;
}
