.bgPink {
  background: linear-gradient(
    90deg,
    var(--primary-dark) 0%,
    var(--primary-light) 100%
  );
}

.borderGreen {
  border-color: var(--secondary-dark);
}

.container {
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.borderCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 4px solid var(--secondary-dark);
  max-width: 400px;
  padding: 10px;
}

.cardTitle {
  color: var(--primary-dark);
  margin-bottom: 10px;
  text-align: center;
}

.cardDivider {
  margin-top: 12px;
  color: var(--secondary-dark);
}

.cardDivider::before {
  content: "";
  display: inline-block;
  width: 130px;
  height: 2px;
  transform: translate(-10px, -5px);
  background: var(--secondary-dark);
}

.cardDivider::after {
  content: "";
  display: inline-block;
  width: 130px;
  height: 2px;
  transform: translate(10px, -5px);
  background: var(--secondary-dark);
}
