.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(
    90deg,
    rgba(252, 179, 183, 1) 0%,
    rgba(250, 213, 205, 1) 100%
  );
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* transition: all 0.2s; */
}

.longButton {
  width: 300px;
}

.shortButton {
  width: 80px;
  height: 39px;
}

.pinkButton {
  background: linear-gradient(
    90deg,
    rgba(252, 179, 183, 1) 0%,
    rgba(250, 213, 205, 1) 100%
  );
  box-shadow: 0px 5px #fcb3b7;
}

.pinkButton:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px #fcb3b7;
}

.pinkButton:active {
  transform: translateY(1px);
  box-shadow: 0px 4px #fcb3b7;
}

.greenButton {
  background: linear-gradient(
    90deg,
    rgba(174, 225, 221, 1) 0%,
    rgba(214, 229, 220, 1) 100%
  );
  box-shadow: 0px 5px #aee1dd;
}

.greenButton:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px #aee1dd;
}

.greenButton:active {
  transform: translateY(1px);
  box-shadow: 0px 4px #aee1dd;
}

.recTypeSelect {
  width: 100px;
  border-radius: 5px 0 0 5px;
  color: white;
}

.pinkSelect {
  background-color: #fcb3b7;
}
.greenSelect {
  background-color: #aee1dd;
}

.recTypeSelect select {
  appearance: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.amountInput {
  width: 80px;
  text-align: right;
  padding-right: 10px;
}

.noteInput {
  max-width: 250px;
  padding-left: 10px;
  border-radius: 0 5px 5px 0;
  margin-right: 5px;
}

.pinkInput {
  color: #fcb3b7;
  border: 3px solid #fcb3b7;
}

.greenInput {
  color: #aee1dd;
  border: 3px solid #aee1dd;
}

.addRecord {
  display: flex;
}

.recordList {
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
}

.recordList:hover {
  background-color: #fffae8;
}

.recordList::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 30px;
  transform: translateX(142px);
}

.pinkRecordList {
  color: #fcb3b7;
}

.pinkRecordList::before {
  background: #fad5cd;
}

.greenRecordList {
  color: #aee1dd;
}

.greenRecordList::before {
  background: #d6e5dc;
}

.recordListAmount {
  width: 137px;
  text-align: right;
  padding-right: 5px;
}

.recordListNote {
  flex-grow: 1;
  padding-left: 10px;
}

.delBtn {
  border-radius: 5px;
  padding: 0 8px;
}

.pinkDelBtn {
  border: 3px solid #fcb3b7;
  color: #fcb3b7;
  transition: all 0.1s;
}

.pinkDelBtn:hover {
  color: white;
  background-color: #fcb3b7;
}

.greenDelBtn {
  border: 3px solid #aee1dd;
  color: #aee1dd;
}

.greenDelBtn:hover {
  color: white;
  background-color: #aee1dd;
}
